#sidebar.inactive {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: 1s;
}

#sidebar.active {
    margin-left: -250px;
    transition: 1s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}